* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #faf2ed;
  font-family: Helvetica;
  letter-spacing: 1px;
  font-size:clamp(14px,1vw,18px);
}
img{
  opacity: 80%;
}
@mixin flex($display, $direction, $gap) {
  display: $display;
  flex-direction: $direction;
  gap: $gap;
}
@mixin alignment($x,$y){
   justify-content:$x;
    align-items:$y;
}
.label,
.heading {
  text-transform: uppercase;
}

.heading {
  font-size:2.5rem;
  font-weight: 100;
}

.content {
  line-height:1.5;
  font-size:1.3rem;
  color: #979794;
    overflow-wrap: break-word;
    word-break: break-word;
}
main {
  width: 100%;
  @include flex(flex, column, 1rem);
  align-items: center;
  padding:1rem;

  section{
    width: 100%;
    max-width:2000px;
  }
  .section-1,.section-3,.section-4,.section-6{
    @include flex(flex, column,1rem);
    .hero-top {
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        border-radius:0.5rem;
        object-fit:cover;
      }
    }
    .hero-bottom {
      width: 100%;
      @include flex(flex, column, 4rem);
      padding:1.5rem;
       background-color: #1e1e1e;
      border-radius:0.5rem;
      .description{
        @include flex(flex, column, 1rem);
      }
      .hero-bottom-button {
        width: 100%;
        @include flex(flex, row, 1rem);
        align-items: center;
        padding-top:2rem;
        i{
          font-size:2rem;
        }
      }
    }
  }
  .ourteamwrapper{
    @include flex(flex,row,0);
    justify-content: space-between;
    align-items:center;
    padding:1rem;
  }
  .section-2{
    padding:1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-template-areas:"item1 item2"
                        "item3 item4";
    justify-items: center;
    align-items: center;
    gap:2rem;
    #item1{
     grid-area:item1;
     @include flex(flex,column,10px );
     @include alignment(center,center);
    }
    #item2{
     grid-area:item2;
      @include flex(flex,column,10px );
     @include alignment(center,center);
    }
    #item3{
     grid-area:item3;
      @include flex(flex,column,10px );
      @include alignment(center,center);
    }
    #item4{
     grid-area:item4;
      @include flex(flex,column,10px );
      @include alignment(center,center);
    }
    .title{
     color: #979794;
    }
    .number{
      font-size: 2rem;
    }
  }
  .section-5{
    @include flex(flex,column,1rem);
     h2{
      font-size:2rem;
     }
     .img-container{
      @include flex(flex,column,1rem);
      div{
        position: relative;
        img{
          width:100%;
          border-radius: 0.5rem;
        }
        .icons{
            @include flex(flex,row,0.5rem);
            position:absolute;
             z-index: 10;  
             top:1rem;
             right:1rem;
             span{
              padding:0.7rem;
              border-radius:50%;
              background:linear-gradient(transparent,rgba(255, 255, 255, 0.16));
             }
             img{
              width:1.5rem;
              filter: invert(1);
              object-fit:cover;
             }
        }
        .banner{
           position:absolute;
           z-index: 10; 
           width:100%;
           bottom:0%;
           left:0%;
           background:linear-gradient(transparent,rgb(0, 0, 0));
           padding:2rem 1rem;
           font-size:1.2rem;
           text-transform:uppercase;
           @include flex(flex,row,0);
           align-items: center  ;
           justify-content: space-between;
           font-weight: 900;
        }
      }
     }
  }
  .sec-6-cont{
    @include flex(flex,column,1.5rem);
  }
  .section-7{
    background-color: #cebd63;
    color:black;
    @include flex(flex,column,2rem);
    padding:1.5rem;
    border-radius: 0.5rem;
     .left{
          @include flex(flex,column,1rem);
          h2{
           font-size:2.5rem;
           text-transform: uppercase;
           font-weight:200;
          }
     }
     .right{
      button{
        width:100%;
        background-color: black;
        color: #faf2ed;
        padding:1rem 2rem;
        border-radius:0.5rem;
      }
     }
  }
}
@media (min-width: 900px) {
  main{
    .section-1,.section-3,.section-4,.section-6{
      flex-direction: row;
      .hero-top,.hero-bottom{
        width:50%;
      }  
      .hero-bottom{
        justify-content:space-between;
        padding:4rem;
        .description{
          .heading{
            font-size:4rem;
          }
        }
      }
  }
  .section-2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-template-areas:"item1 item2 item3 item4";
    .number{
      font-size:3rem;
    }
  }
  .section-3,.section-4{
    .content{
      @include flex(flex,row,2rem );
    }
  }
    .section-6,.section-3,.section-4{
      .hero-bottom{
        .description{
          .heading{
        font-size:2.5rem;
    }
        }
      }
  }
  .section-3,section-6{
    .hero-top{
      order:2;
    }
    .hero-bottom{
      order:1;  
    }
  }
  .section-5{
    .img-container{
         @include flex(flex,row,1rem);
    }
  }
  .section-7{
    @include flex(flex,row,0);
    justify-content: space-between;
    align-items:center;
    padding:2rem 4rem;

    .left{
      width:70%;
      h2{
      font-size:5rem;
      font-weight:100;
      }
    }
  }
}
}