* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: clamp(14px, 1vw, 18px);
}

::-webkit-scrollbar {
  display: none;
}

main {
  overflow-y: scroll;
  height: 100dvh;
  min-height: 100svh;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.reel {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  scroll-snap-align: start;
}
.reel video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reel .overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.466), transparent);
  pointer-events: none;
}
.reel .ui {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.reel .top {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.466), transparent);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.reel .top .reels {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reel .top .friends {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(233, 225, 225);
}
.reel .top .friends .img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.reel .top .friends .img-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reel .right {
  position: absolute;
  right: 1rem;
  bottom: 7%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.reel .right .icon-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.reel .right .icon-text i {
  font-size: 2.5rem;
  filter: invert(1) brightness(1);
  pointer-events: none;
}
.reel .right .icon-text span {
  font-size: 1rem;
  color: rgb(233, 225, 225);
  pointer-events: none;
}
.reel .bottom {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}
.reel .bottom .bottom-top {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  width: 80%;
  height: auto;
}
.reel .bottom .bottom-top img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.reel .bottom .bottom-top .title-song {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.reel .bottom .bottom-top .title-song .title-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  white-space: nowrap;
}
.reel .bottom .bottom-top .title-song .song-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}
.reel .bottom .bottom-top button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  background-color: transparent;
  font-weight: 600;
  color: white;
  text-transform: capitalize;
  cursor: pointer;
}
.reel .bottom .bottom-down {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reel .bottom .bottom-down p {
  width: 250px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.reel .bottom .bottom-down i {
  font-size: 2rem;
}

.ri-heart-3-fill {
  -webkit-text-stroke: 3px black;
  color: transparent;
}

.red {
  color: cyan;
  -webkit-text-stroke: 0px transparent;
}/*# sourceMappingURL=style.css.map */