* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    width:100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size:clamp(14px,1vw,18px);
    overflow:hidden;
}
@mixin fleX($justify:center,$align:center){
    display: flex;
    justify-content:$justify;
    align-items:$align;
}
@mixin size($width:100%,$height:100%){
    width:$width;
    height:$height;
}
@mixin bg-gradient($direction:to top){
background:linear-gradient($direction,rgba(0, 0, 0, 0.466),transparent);
}
main {
    @include fleX();
    @include size();
    background-image:url(https://images.unsplash.com/photo-1765574467155-682f63fe9c6a?q=80&w=1169&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size:cover;
    overflow: hidden;
    .reel{
        @include fleX(flex-start,flex-start);
        flex-direction: column;
         @include bg-gradient();
        @include size();
        .top{
            @include bg-gradient(to bottom);
            @include size(100%,10%);
            @include fleX(space-evenly);
            color:white;
            font-weight: 700;
            font-size:1.5rem;
            .reels{
            @include fleX();
            }
            .friends{
                @include fleX();
                 color:rgb(233, 225, 225);
                .img-container{
                    @include fleX(center,center);
                    margin-left:10px;
                    img{
                      @include size(50px,50px);
                      border-radius: 50%;
                      object-fit: cover;
                      object-position: center;
                    }
                }
            }
        }
        .right{
            @include size(auto,100%);
            align-self: flex-end;
            @include fleX(flex-end,center);
            flex-direction: column;
            padding:0 1rem;
            gap:1rem;
            .icon-text{
                @include fleX();
                 flex-direction: column;
                 i{
                    font-size:2.5rem;
                     filter:invert(1) brightness(1);
                 }
                 span{
                    font-size:1rem;
                    color:rgb(233, 225, 225);
                 }
            }   
        }
        .bottom{
            @include size(100%,auto);
            @include fleX(flex-start,flex-start);
            flex-direction: column;
             color:white;
            .bottom-top{
            padding:0.5rem 1rem;
            @include fleX(flex-start);
            gap:1rem;
            @include size(80%,auto);
             img{
                @include size(50px,50px);
                border-radius:50%;  
                object-fit: cover;
                object-position:top;
             }
             .title-song{
                @include fleX(flex-start,flex-start);
                flex-direction: column;
                .title-box{
                    @include fleX(flex-start);
                    gap:0.5rem;
                    font-size:1.2rem;
                }
                .song-box{
                     @include fleX(flex-start);
                     gap:0.2rem;
                }
             }
             button{
                padding:0.5rem 1rem;
                border-radius:0.5rem;
                border:1px solid white;
                background-color:transparent;
                font-weight:600;
                 color:white;
             }
            }
            .bottom-down{
                @include size(100%,auto);
                padding-bottom:0.5rem;
                padding-right:1rem;
                padding-left:1rem;
                @include fleX(space-between);
                p{
                    @include size(250px,auto);  
                     white-space: nowrap;
                     overflow: hidden;
                      text-overflow: ellipsis;
                }
                i{
                    font-size:2rem;
                }
            }
        }
    }
}
@media (max-width:370px){
    body{
           background-image:url(https://images.unsplash.com/photo-1578328819058-b69f3a3b0f6b?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
           background-position:center;
           background-size: cover;
    }
    main{
        display:none;
    }
}