* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(14px, 1vw, 18px);
}
::-webkit-scrollbar{
    display: none;
}

@mixin fleX($justify:center,$align:center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin size($width:100%,$height:auto){
    width: $width;
    height: $height;
}

@mixin bg-gradient($direction:to top){
    background: linear-gradient($direction, rgba(0, 0, 0, 0.466), transparent);
}


main {
    overflow-y: auto;
    min-height: 100svh;
    height:100svh;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.reel {
    @include size(100%, 100svh);
    position: relative;           
    overflow: hidden;
    scroll-snap-align: start;

    video {
        @include size(100%, 100%);
        object-fit: cover;
    }

    .overlay {
        position: absolute;
        inset: 0;
        @include bg-gradient();
        pointer-events: none;
    }

    .ui {
        position: absolute;
        inset: 0;
        @include fleX(flex-start, flex-start);
        flex-direction: column;
        justify-content: space-between;
    }

    .top {
        @include bg-gradient(to bottom);
        @include size(100%, 10%);
        @include fleX(space-evenly);
        color: white;
        font-weight: 700;
        font-size: 1.5rem;

        .reels {
            @include fleX();
        }

        .friends {
            @include fleX();
            color: rgb(233, 225, 225);

            .img-container {
                @include fleX(center, center);
                margin-left: 10px;

                img {
                    @include size(50px, 50px);
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }
    }

    .right {
        position: absolute;    
        right: 1rem;
        bottom: 7%;
        @include fleX(flex-end, center);
        flex-direction: column;
        gap: 1rem;

        .icon-text {
            @include fleX();
            flex-direction: column;
            cursor: pointer;
            i {
                font-size: 2.5rem;
                filter: invert(1) brightness(1);
                pointer-events: none;
            }

            span {
                font-size: 1rem;
                color: rgb(233, 225, 225);
                pointer-events: none;
            }
        }
    }

    .bottom {
        @include size(100%, auto);
        @include fleX(flex-start, flex-start);
        flex-direction: column;
        color: white;

        .bottom-top {
            padding: 0.5rem 1rem;
            @include fleX(flex-start);
            gap: 1rem;
            @include size(80%, auto);
            img {
                @include size(50px, 50px);
                border-radius: 50%;
                object-fit: cover;
            }

            .title-song {
                @include fleX(flex-start, flex-start);
                flex-direction: column;

                .title-box {
                    @include fleX(flex-start);
                    gap: 0.5rem;
                    font-size: 1.2rem;
                    text-transform: capitalize;
                    white-space: nowrap;
                }

                .song-box {
                    @include fleX(flex-start);
                    gap: 0.2rem;
                }
            }

            button {
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                border: 1px solid white;
                background-color: transparent;
                font-weight: 600;
                color: white;
                text-transform:capitalize;
                cursor:pointer;
            }
        }

        .bottom-down {
            @include size(100%, auto);
            padding: 0.5rem 1rem;
            @include fleX(space-between);

            p {
                @include size(250px, auto);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            i {
                font-size: 2rem;
            }
        }
    }
}
.ri-heart-3-fill{
-webkit-text-stroke: 3px black;
 color:transparent;
}
.red{
    color:cyan;
    -webkit-text-stroke:0px transparent;
}
// @media (max-width:40px){
//     body{
//         background-image: url(assets/images/404.avif);
//         background-position: center;
//         background-size: cover;
//     }

//     main{
//         display: none;
//     }
// }
