* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Mona Sans;
  background-color: #fff;
  color:#060318;
}

html, body {
  width: 100%;
  height: 100%;
}
nav{
  display: flex;
  height: 92px;
  align-items: center;
  justify-content: space-between;
  padding:40px;
}
.logo{
  width: 89px;
  height: 25px;
  margin-right:30px;
}
.left-nav{
  display: flex;
  gap:30px;
}
.left-nav a{
  text-decoration: none;
  font-weight:600;
  font-size: 14px;
  transition:color ease 0.5s;
}
.left-nav a:hover{
  color:gray;
}
.right-nav{
  display: flex;
  align-items: center;
  gap:20px;
}
.right-nav :first-child{
  border: none;
  font-weight: 800; 
  transition: color ease 0.5s;
}
.login-btn{
  background-color: black;
  color:white;
  transition: color ease 0.5s;
}
.login-btn:hover{
   background-color: rgba(0, 0, 0, 0.842);
}
button{
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
}
.signup-btn:hover{
  color:gray;
}
main{
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .hero{
  width:90%;
  height:500px;
  display: flex;
  justify-content: center;
}
.left-col{
  width:50%;
  height:100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:20px;
  /* padding:20px 30px; */
}
.left-col h1{
    font-size:48px;
    font-stretch: expanded;
    font-weight: 600;
    line-height: 1.08;
}
.right-col{
  width:50%;
  height:100%;
  position: relative;
}
.right-col video{
 width:100%;
 height:100%;
 object-fit: cover;
 border-radius:30px;
 padding:10px;
}
.icon-boxes{
  height: 50px;
  display: flex;
  align-items: center;
  gap:20px;
}
.iconbox{
  padding: 9px 18px;
  display: flex;
  justify-items: baseline;
  align-items: center;
  border-radius: 20px;
  gap:5px;
  transition: all ease 0.5s;
}
.iconbox span{
  background-color:transparent;
}
.iconbox img{
  background-color: transparent;
}
.iconbox:hover{
  background-color: #3A3546;
}
.iconbox:hover span {
    color: white;
}
.iconbox:hover img {
    filter:invert(1);
}
.search-bar{
  display: flex;
  align-items:center ;
}
.search{
  border-radius: 50px;
  padding: 20px;
  width: 90%;
  border: none;
  background-color: rgba(237, 231, 231, 0.5);
  color: #060318;
  position: relative;
}
.search-icon{
  width:40px;
  height: 40px;
  border-radius: 50px;
  background-color:#EA4689;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right:11%;
}
.search-icon img{
  background-color: transparent;
  filter:invert(1);
}
.search:focus{
  outline:2px solid #EA4689;
}
.popular{
  display: flex;
  gap:15px;
}
.popular>span{
  font-weight: 600;
}
.popular a{
  text-decoration: none;
  padding:5px 10px;
  border-radius: 9999999px;
  font-size: 12px;
  transition: all ease 0.5s;
  /* background-color:transparent; */
}
.popular a:hover {
 background-color: #f0e4e9;
}
.get-matched-now{
  width:90%;
  height: 50px;
  background-color:#f8f8fc;
  display: flex;
  align-items: center;
  gap:20px;
  padding:10px;
  margin:10px
}
.get-matched-now span{
  color:black;
  font-weight: 600;
  background-color:white;
  box-shadow: 0px 10px 10px purple;
  padding:10px;
  border-radius: 9999999px;
  font-size:14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase-sec{
  margin-top:30px;
  width:90%;
  display: flex;
  flex-direction: column;
  gap:25px;
}
.showcase-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.showcase-button button{
  border-radius: 10px;
  padding:7px 15px;
  font-weight: 300;
}
.dark{
  font-weight:600;
}
.dark a{
    font-size: 14px;
}
.showcase-container{
  display: flex;
  flex-wrap: wrap;
  gap:18px;
  width:100%;
}
.showcase-item{
  display:flex;
  flex-direction: column;
  gap:5px;
  width:24%;
}
.image{
    width:100%;  
   height:257px;
   padding: 1px;
   overflow: hidden;
   position: relative;
}
.image img{
  width:100%;
  object-fit: cover;
  border-radius:10px;
}
.content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:10px; */
  height: 40px;
  padding: 1px;
}
.content img{
  border-radius: 50%;
}
#pro{
  padding:3px;
  background-color:#cccccc;
  border-radius:5px;
  color:white;
}
.small{
  font-size:12px;
}
.forhover{
  display: flex;
  justify-content: space-between;
  width:100%;
  padding:20px; 
  position: absolute;
  left:0;
  bottom:-25%;
  background-color: rgba(0, 0, 0, 0.6); 
  transition:all ease 0.5s;
  border-radius: 10px;
}
.forhover *{
  background-color: transparent;
  color:white
}
.image:hover .forhover{
  bottom: 1%;
}
footer{
  width:90%;
  margin:auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:50px;
}
footer i{
  font-size: 20px;
}
.sign{
  font-weight:500;
  font-size:18px;
}